{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('post') }}
{% endblock %}
{% block title %}Posts{% endblock %}

{% block body %}
<div id="body" class="show">
    <h1> Post: {{ post.title }} </h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Created Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.createdDate ? post.createdDate|date('Y-m-d') : '' }}</td>
                <td>{{ post.description }}</td>
            </tr>
        </tbody>
    </table>
    
    {% for comment in post.comments %}
        <p>{{ comment }}<small >{{ comment.createdDate|date('j F, Y, g:i a') }}</br>posted by: {{ comment.postedBy }}</small></p>
        </br>
    {% endfor %}
    {{ include('comments/_form.html.twig') }}

    <a href="{{ path('app_posts_index') }}">Back to list</a>
    <a href="{{ path('app_posts_edit', {'id': post.id}) }}">Edit</a>

    {% for role in app.user.roles %}
        {% if role == 'ROLE_INSIDER' %}
            {{ include('posts/_delete_form.html.twig') }}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}