{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('post') }}
{% endblock %}
{% block title %}Posts{% endblock %}



{% block body %}
    <h1 class="text-center"> Post: {{ post.title }} </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Created_date</th>
                <td>{{ post.createdDate ? post.createdDate|date('"F j, Y, g:i a"') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ post.description }}</td>
            </tr>
        </tbody>
    </table>
    
    {% for comment in post.comments %}
        <p>{{ comment }}<small >{{ comment.createdDate|date('j F, Y, g:i a') }}</br>posted by: {{ comment.postedBy }}</small></p>
        </br>
    {% endfor %}
    {{ include('comments/_form.html.twig') }}

    
    <a href="{{ path('app_posts_index') }}">back to list</a>

    <a href="{{ path('app_posts_edit', {'id': post.id}) }}">edit</a>

    {{ include('posts/_delete_form.html.twig') }}
{% endblock %}
