{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="wrapper">
  <h1>Welcome On LiveCamp Social Network </h1>
    <div class="cols row row-cols-1 row-cols-md-3 g-4">
        {% for board in boards %}
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url({{ asset('uploads/images/' ~ board.image) }})">
                        <div class="inner">
                            <h3>{{ board.name}}</h3>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                        {% for p in board.posts %}
                            <ul>
                                <a href={{ path('app_posts_show', {'id': p.id}) }}><li>{{ p }}</li></a>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}
