{% extends 'base.html.twig' %}

{% block title %}Board{% endblock %}

{% block body %}
<div id="body" class="show">
    <h1>Board {{ board.name }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ board.id }}</td>
                <td>{{ board.name }}</td>
                <td>{{ board.createdDate ? board.createdDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_board_index') }}">Back to list</a>

    <a href="{{ path('app_board_edit', {'id': board.id}) }}">Edit</a>

    {% for role in app.user.roles %}
        {% if role == 'ROLE_INSIDER' %}
            {{ include('board/_delete_form.html.twig') }}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
